.dropzone {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 6px);
  text-align: center;
  z-index: 50;
  overflow: hidden;

  &:before {
    position: absolute;
    z-index: -1;

    content: '';
    display: block;
    width: 190%;
    height: 190%;
    margin-top: -20%;
    margin-left: -20%;

    animation: bgMove 10s linear infinite;

    background: url(patternBg.png) center repeat #262A2C;
  }

  path {
    fill: #FFFFFF;
  }
}

.dropzone__area {
  overflow: hidden;
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  margin: 17px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #888D94;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;

  border: 3px dashed rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}

.dropzone__title {
  margin: 20px 0 15px;

  color: #FFFFFF;
  font-size: 21px;
  font-weight: 200;
}

.dropzone__text {
  color: #888D94;
  font-size: 1pc;
  font-weight: 200;
  text-decoration: none;
}

/**
* Hover
**/
.dropzone__area.is-hover {
  border: 3px dashed #E73E4A;
}
.dropzone__area.is-hover path {
  fill: #E73E4A;
}
.dropzone__area.is-hover #arrow {
  animation: jumping 1s ease infinite;
}

@keyframes bgMove {
  0% {
    transform: translate3D(0, 0, 0);
  }

  100% {
    transform: translate3D(-200px, -162px, 0);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(6px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(6px);
  }
}
