/* Base
   ========================================================================== */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Montserrat,helvetica,arial,sans-serif;

  font-size: 14px;
  line-height: 1.4;
  color: #FFF;
}

.view{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  background-color: #262A2C;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Scrollbars
   ========================================================================== */
@import "modules/animate";
@import "modules/fonts";
@import "modules/icons";
@import "modules/tabs";
@import "modules/forms";

/* Scrollbars
   ========================================================================== */
div::-webkit-scrollbar-track
{
  background-color: transparent;
}
div::-webkit-scrollbar
{
  width: 6px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb
{
  width: 4px;
  margin-right: 2px;
  height: 127px;
  opacity: 0.57;
  background-color: rgba(#000000, 0.2);
  border-radius: 4px;
}


